@import 'globals';
@import 'colors';

html,
body {
  background-color: $background-color;
  color: $main-color;
  height: 100%;
  min-height: 100%;
  font-family: 'OpenSans', sans-serif;
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

// root Ember block
.ember-application > .ember-view {
  height: 100%;
  display: flex;
  overflow: hidden;
}
